<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-2VF4S-E02l-m3tUe8v__vyFHUToZwnE</string>
	<key>GCM_SENDER_ID</key>
	<string>537321513385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jasleen.MASProgramming1</string>
	<key>PROJECT_ID</key>
	<string>masprogramming1-8a8ea</string>
	<key>STORAGE_BUCKET</key>
	<string>masprogramming1-8a8ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537321513385:ios:66c981dae326865a7ea4b8</string>
</dict>
</plist>